/* Michael Osgood / Train Schedule */
body {
	background-color: #4eb3d3;
	color: #084081;
}

h1, h3 {
	color: #7bccc4;
}


.jumbotron {
	background-color: #084081;
	color: #7bccc4;
	font-family: 'Limelight', cursive;
}

.panel-heading {
	font-family: 'Limelight', cursive;
	font-size: 22px;
	
}

.panel-heading-custom {
	background-color: #084081;

}
.panel-body {
	background-color: #7bccc4;
}

#wrapper {
	width: 75%;
	font-family: 'Limelight', cursive;
	font-size: 18px;
}
.btn {
	background-color: #084081;
	color: #7bccc4;
}

.form-control {
	background-color: #4eb3d3;
}

