/* Michael Osgood / Train Schedule */
body {
	background-color: black;
}

h1 {
	color: white;
}

.jumbotron {
	background-color:;
	font-family: 'Limelight', cursive;
}

.panel-heading {
	font-family: 'Limelight', cursive;
	font-size: 22px;
}

#wrapper {
	width: 75%;
	font-family: 'Limelight', cursive;
	font-size: 18px;
}

